@import "../../utils/properties.css";
@media screen and (min-width: 0px) and (max-width: 480px) {
  .myName {
    margin: 20px auto;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: var(--color-black);
  }
  .wipCaption {
    color: var(--color-black);
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 20px;
    line-height: 30px;
  }
  .copyright {
    color: var(--color-gray-400);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 60px auto 40px;
  }
  .caption {
    max-width: 800px;
    font-size: 13px;
    margin: 0 auto;
    font-size: 13px;
    padding: 0 20px;
    color: var(--color-gray-500);
  }
  .aboutHeading {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 24px 0 6px;
    font-weight: 600;
  }
  .aboutContent {
    font-size: 15px;
    letter-spacing: 0.4px;
    line-height: 25px;
    font-weight: 300;
  }
  .aboutSpeaker {
    font-size: 15px;
    letter-spacing: 0.7px;
    line-height: 30px;
    font-weight: 300;
  }
}

@media screen and (min-width: 481px) {
  .myName {
    margin: 20px auto;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: var(--color-black);
  }
  .wipCaption {
    color: var(--color-black);
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 20px auto;
    line-height: 30px;
  }
  .copyright {
    color: var(--color-gray-400);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 60px auto 40px;
  }
  .caption {
    max-width: 560px;
    margin: 0 auto;
    font-size: 13px;
    padding: 0 20px;
    line-height: 23px;
    color: var(--color-gray-500);
  }
  .aboutHeading {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 24px 0 6px;
    font-weight: 600;
  }
  .aboutContent {
    font-size: 15px;
    letter-spacing: 0.4px;
    line-height: 25px;
    font-weight: 300;
  }
  .aboutSpeaker {
    font-size: 15px;
    letter-spacing: 0.7px;
    line-height: 30px;
    font-weight: 300;
  }
}

.newsTitle {
  font-size: 17px;
  font-weight: 600;
}

.newsContents {
  font-size: 15px;
}

.newsContainer {
  margin: 0 auto;
  padding: 16px 20px;
  max-width: 480px;
}

.newsDate {
  font-size: 0.8em;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: 3px;
}

.newsText {
  font-size: 0.85em;
  font-weight: 300;
  color: var(--color-black);
  margin-bottom: 3px;
  letter-spacing: 0.1px;
}

.newsTextEnglish {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--color-gray-500);
  margin-bottom: 6px;
}
.newsLink {
  text-decoration: none;
  color: #00ABB6;
}
