@media screen and (min-width: 0px) and (max-width: 600px) {
  .newsContainer {
    margin: 20px;
  }
}

@media screen and (min-width: 601px) {
  .newsContainer {
    max-width: 600px;
    margin: 40px auto 0;
    padding-left: 20px;
  }
}
